<h1>New game</h1>
<div class="row jus">
  <div class="col-10">
      <% @letters.each do |letter| %>
        <p class="btn btn-primary w-15"><%= letter %></p>
      <% end %>
      <form action="/score" method="post">
        <label for="word" class="form-label">What is the longest word you can find?</label>
        <input id="word" class="form-control mb-3" type="text" name="word" placeholder="Type your word here">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :letters, @letters %>
        <input type="submit" class="btn btn-danger" value="Submit">
      </form>
  </div>
</div>
